<h1>About Page</h1>
<p>Created by Brian Mont</p>
<p>Find me in app/views/welcome/about.html.erb</p>
<br>
<p>Click the button below to checkout sports updates!</p>
<button><%= link_to "ESPN", "http://www.espn.com/", class:"social-btn" %></button>